{% extends "base.html" %}
{% load to_json %}

{% block repo_manage_ldmk %}active{% endblock %}

{% block title %}Manage repos | {% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="{{STATIC_URL}}css/repo_manage.css">
{% endblock %}

{% block content %}
<h1> Manage your repos</h1>
<div id="repoList">
  <h6 id="loading">Loading <img src="{{ STATIC_URL }}img/ajax-loader.gif" height="11" width="16" alt="Loader" /></h6>
</div>
{% endblock %}

{% block extrabody %}
<script type="text/javascript" src="{{ STATIC_URL }}js/app/views/RepoListItemView.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/views/SidebarRepoView.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/views/SidebarOrgView.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/views/SidebarView.js"></script>
<script type="text/javascript" charset="utf-8">
  window.repoCollection = new RepoCollection({{user.get_profile.repos|to_json}});
  window.orgCollection = new OrgCollection({{user.orgs.all|to_json}});
  
  $().ready(function() {

    $('#repoList').load("{% url repos_list %}", function(html, status) {
      window.repoListItemViews = _.map($('#repoList li.repo'), function(elem) {
        return new RepoListItemView({
          el: elem
        });
      }, this);
    });

    window.sidebarView = new SidebarView({
      el: $('#repoMenu')
    })
  });
</script> 
{% endblock %}
